*.iml
*.ipr
*.iws
*.hprof
.idea/*
!.idea/codeStyles/
.gradle
local.properties
gradle.properties
build
captures/
.project
.classpath
.settingsgit
app/release

### Gradle ###
gradle/
gradlew
gradlew.bat

### Mac OSX ###
.DS_Store
